version: "3.8"
services:
  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: backend
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - MONGODB_URI=mongodb+srv://root:${MONGO_PASSWORD}@cluster0.ynwctaq.mongodb.net/nab_camp?retryWrites=true&w=majority&authSource=admin
    ports:
      - "3000:3000"
